<div class="container animated fadeIn fast">
    <br>
    <h5> Esta aplicación fué desarrollada por: </h5>
    <br>
    <div class="col-md-6" >
        <div class="row">
            <img src="../../../assets/img-categorias/admin.jpg" alt="..." style="width: 8rem ; height:8rem "
                class="img-thumbnail">
        </div><br />
        <div class="row ">
            <p class="font-weight-bold "><i class="fa  fa-laptop-code fa-lg" aria-hidden="true"></i> &nbsp; Adrián Fonseca Vega</p>
        </div>
        <div class="row">
            <p><i class="fab fa-linkedin fa-lg"></i>&nbsp;&nbsp;&nbsp; <a
                    href=" https://www.linkedin.com/in/adrián-fonseca-vega-33656a178"
                    target="_blank">  https://www.linkedin.com/in/adrián-fonseca-vega-33656a178</a> </p>
        </div>   
        <div class="row">
            <p><i class="fa fa-map-marker-alt fa-lg" aria-hidden="true"></i> &nbsp;&nbsp; Calle Napoleón Diego Reparto
                Rafaelito, Edificio # 4 Apto #2 Cumanayagua, Cienfuegos, Cuba.</p>
        </div>
        <div class="row">
            <p><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> &nbsp;&nbsp;<a href="mailto:afonsecav88@gmail.com">afonsecav88@gmail.com</a> </p>
        </div>
        <div class="row">
            <p><i class="fa fa-mobile-alt fa-lg" aria-hidden="true"></i> &nbsp;&nbsp; +5354574625</p>
        </div>
       
    </div>
    