<div class="container footer">
    <h5 class="text-center">Acerca de <strong> Compras & Ventas </strong> </h5>
    <hr>
    <div class="row"> 

        <div class="card-deck ">
            <div class="card">
              <img class="card-img-top" src="/assets/img-categorias/proponer.webp" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-justify">Proponer Artículos</h4>
                <p class="card-text">Esta aplicación le permitirá proponer aquellos artículos que usted desea vender, permitiendo a la persona que esté interesada en comprarlos
                    contactarlo facilmente.</p>
              </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="/assets/img-categorias/buscar.webp" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Buscar Artículos</h4>
                <p class="card-text text-justify">Podrá buscar los artículos que usted necesita adquirir,permitiendole además contactar a su propietario de una forma muy fácil. </p>
             </div>
            </div>

            <div class="card">
              <img class="card-img-top" src="/assets/img-categorias/comprar.webp" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Comprar Artículos</h4>
                <p class="card-text text-justify" >Hacer las compras de los artículos que usted necesita ahora mismo </p>
              </div>
            </div>
          </div>   
            </div>     
  </div>
