<div class="container">
    <!-- <h5 class="text-center">Artículos en Venta</h5> -->
    <br>

    <div *ngIf="isLoadding">
        <h3 class="text-info error"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error de Conexión</h3>
        <h6 class="text-black error"> <code>Revise su conexión a Internet y actualice la página.</code></h6>
        <br>
        <img  class="error" src= "../../../assets/img-categorias/error.png" alt="">
    </div>
    <div class="card-columns">
        <div class="card animated fast fadeIn zoom " *ngFor="let articulo of articulos; let i=index">
            <img class="card-img-top" [src]="articlesService.getImagen(articulo.imagenPath)" [alt]="articulo.nombre">
            <div class="card-body">
                <p class="card-text"> <strong>Nombre: </strong> {{articulo.nombre}}</p>
                <p class="card-text"><strong>Descripción: </strong>{{articulo.descripcion}}</p>
                <button (click)="verDetalles(articulo.id)" class="btn btn-outline-primary btn-block"> Ver
                    Más...</button>
            </div>
        </div>
    </div> <br>
</div>